[submodule "external/drogon"]
	path = external/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
