[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/drogon"]
	path = external/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
