.hello {
    color: red;
}

form ul {
    display: table;
}

form li {
    display: table-row;
}

form label, form input {
    display: table-cell;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  left: 1px;
  
}


.form-signin input[type="number"] {
  margin-bottom: -10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0px;
  left: 1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  left: 1px;
}
